<div>
  <div class="active">
      <div class="quiz"><b>WAREHOUSE MANAGEMENT SYSTEM</b></div>
  </div>
  <br>
  <div class="row">
    <div class="column">
      Customer id: <input type="text" id="name">
      <br><br><br>
      Product: <input type="text" id="number">
      <br><br><br>
      Quantity: <input type="text" id="wrong">
      <br><br><br>
      Location: <input type="text" id="correct">
      <br><br><br>
      Shipment id: <input type="text" id="total">
      <br><br><br>
      <button>Insert</button>
      <button>Delete</button>
      <button>Save</button>
      <button>Submit</button>
    </div>
    <div class="column">
    <h1>Result Analysis</h1>
    </div>
  </div>

</div>

